.container {
  margin: 0;
  text-align: center;
  background: rgb(59, 59, 59);
  background: linear-gradient(180deg, rgb(56, 52, 49) 0%, rgba(209, 206, 52, 0.54) 75%, #ffffff 100%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
img{
  max-width: 100%;
  max-height: auto;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
@media (min-width: 768px) {
  .text {
    letter-spacing: 1.2px;
    line-height: 1.2rem;
  } 
  .text-div {
    padding: 0 14%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  border-top: 1px solid rgb(78, 75, 75);
}